/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Обнуление                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }
  
  html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x:hidden;
  }

  body {
	width: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x:hidden;
  }
  
  
  input,
  button,
  textarea {
	font-family: inherit;
  }
  
  input::-ms-clear {
	display: none;
  }
  button {
	cursor: pointer;
  }
  button::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  a,
  a:visited {
	text-decoration: none;
  }
  a:hover {
	text-decoration: none;
  }

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-size: inherit;
	font-weight: 400;
  }
  
  .bigred {
	font-size: 20px;
	color: red;
  }

:root {
  --colorElement1: #12C868;
  --colorElement2: #F38120;
}

body {
  font-family: 'Montserrat', sans-serif;
	transition: transform 1000ms;
/* 	user-select: none; Не даёт взаимодействовать с текстом */
	background-color: #fff;
  font-weight: 400; 
/*  400 regular */
  	font-size: 0.75vw; 
/*  0.75vw = 14 px (16:9)*/
  max-width:84.1vw;
  margin-left: auto;
  margin-right: auto;
  background: url('https://github.com/Egupych/lending_ROOF/blob/main/BG.png?raw=true'); background-size:103.3vw; background-repeat: no-repeat; background-position: top left;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Навигация                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav {
	height: 5.36vw;
	width: 100%;
	background-color: rgb(255, 255, 255, 0);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 0.06vw rgba(28, 28, 28, 0.07);
}

.link {
	position: relative;
	overflow: hidden;
	padding: 0.5vw 0.5vw;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.1vw;
}

.link:after {
	content: "";
	position: absolute;
	bottom: 0.15vw;
	right: 0;
	width: 0%;
	height: .1vw;
	background: var(--colorElement2);
	transition: all 0.32s cubic-bezier(.47,.17,.3,1);
}

.link:hover:after {
	left: 0;
	width: 100%;
}


.home {
  width: 1.23vw;
  position: relative;
	overflow: hidden;
	padding: 0.5vw 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.home img:hover {
  transform: scale(0.92);
  filter: brightness(0.95);
}

.information {
  width: 10.92vw;
  font-size: 0.64vw;
  text-align: center;
  line-height: 0.9vw;
}

.download {
  width: 13vw;
  font-size: 0.64vw;
  text-align: center;
  letter-spacing: 0.02vw;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.downloadPrice {
  border-bottom: dotted 0.15vw var(--colorElement1);
  cursor:pointer;
  transition: all 0.3s ease-out;
} 

.downloadPrice:hover  {
  background-color: var(--colorElement1);
  color: white;
} 



.social {
/*   height:3.9vw; */
  width: 8.57vw;
  font-size: 0.64vw;
  text-align:center;
  letter-spacing: 0.05vw;
  line-height: 1.9vw;

}

.socialText {
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialIcon {
	width: 0.3vw;
	margin-right: 0.3vw;
	padding-bottom: 0.2vw;
}

.socialList {
	justify-content: space-between;
  }

.socialList img {
  width: 2.35vw;
  transition: all 0.3s ease-out;
  cursor:pointer;
}

.socialList img:hover {
  width: 2.35vw;
  transform: scale(0.92);
  filter: brightness(0.95);
}



header {
  height: 7.92vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greenText {
  color: #12C868; 
}

.semibold {
  font-weight: 600;
}

.logo img {
  width:14.67vw;
}


.socialList {
  display: flex;
	align-items: center;
}

.telephone {
  	font-size: 0.64vw;
	text-align: center;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
  align-items: center;
  display: flex;
  flex-direction:column;

}

.number {
	font-size: 1.18vw;
	letter-spacing: 0.1vw;
}

.dotterLink  {
  width: 5.77vw;
  color: var(--colorElement1);
  border-bottom: dotted 0.15vw var(--colorElement1);
  cursor:pointer;
  transition: all 0.3s ease-out;
} 

.dotterLink:hover  {
  background-color: var(--colorElement1);
  color: white;
} 

.benefits {
  width:12.05vw;
  height:33.54vw;
  text-align: center;
/*   border: solid 2vw rgba(28, 28, 28, 0.01); */
   margin-top: 2.79vw;
   letter-spacing: 0.04vw;
   line-height: 1.2vw;
}

.shadowOnList {
  width: 10vw;
}

.offer {
   padding-left: 3.8vw;
   margin-top: 4.5vw;
}

.heading {
  font-size: 2.95vw;
  line-height: 4.5vw;
  text-align: center;
  width: 35vw;
}

.afterHeadingWithCircles {
	display: flex;
	align-items: baseline;
	padding-top: 1.02vw;
	padding-bottom: 2.41vw;
}

.circles {
	width: 5vw;
}

.afterHeading {
margin-left: 2vw;
  font-size: 1.71vw;

}

.buttons{
  display:flex;
  cursor:pointer;
  flex-wrap: wrap;
   width:50vw;
}

.button1 {
    text-align: center;
	background: var(--colorElement1);
	box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
	border-radius: 50vw;
	display: flex;
	width:20.09vw;
	height:5.36vw;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
	text-transform: uppercase;
	color: #fff;
	align-items: center;
	justify-content: center; 
  transition: all 0.3s ease-out;
}

.button1:hover {
  background: #21E27C;
}

.button2 {
  text-align: center;
	background: var(--colorElement2);
	box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
	border-radius: 50vw;
	display: flex;
	width:20.09vw;
	height:5.36vw;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
	text-transform: uppercase;
	color: #fff;
	align-items: center;
	justify-content: center; 
	margin-left: 1.2vw;
  transition: all 0.3s ease-out;
}

.button2:hover {
background: #FD9C49;
}

.arrowUpRight {
  	width: 1.3vw;
	margin-left: 1.2vw;
}

.button1:hover .arrowUpRight {
	margin-left: 1vw;
}

.button2:hover .arrowUpRight {
	margin-left: 1vw;
}

.str1 {
  display:flex;
}

.prompt {
  margin-top: 1.9vw;
  display: flex;
  align-items: start;
}

.hand {
  width: 1.3vw;
  margin-right: 1vw;
}

.promptText {
  text-align: center;
}



.popUp {
  margin-top: 20vw;
  padding-top: 5vw;
  width: 27.5vw;
  height: 32.5vw;
  background: #F5F5F5;
  border-radius: 1.75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button3 {
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 50vw;
  width:20.09vw;
	height:5.36vw;
  text-align: center;
  display: flex;
	width:20.09vw;
	height:5.36vw;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
	text-transform: uppercase;
	color: #000;
	align-items: center;
	justify-content: center; 
  transition: all 0.3s ease-out;
  cursor: number;
}

.button4 {
  text-align: center;
	background: var(--colorElement2);
	box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
	border-radius: 50vw;
	display: flex;
	width:20.09vw;
	height:5.36vw;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
	text-transform: uppercase;
	color: #fff;
	align-items: center;
	justify-content: center; 
  transition: all 0.3s ease-out;
  cursor:pointer;
  margin-top: 1.2vw;
  margin-bottom: 0.95vw;
}

.button4:hover {
background: #FD9C49;
}

.arrowRight {
  	width: 1.3vw;
	margin-left: 1.2vw;
}

.button4:hover .arrowRight {
	margin-left: 1vw;
}

.popUpP1{
  font-size: 1.5vw;
  line-height: 1.5vw;
    text-align: center;
  align-items: center;
}

.popUpP2{
  font-size: 0.8vw;
  margin-top: 0.7vw;
    text-align: center;
}

.popUpP3{
  font-size: 0.6vw;
  margin-top: 1.2vw;
    text-align: center;

}

.popUpP4{
  font-size: 0.6vw;
    margin-top: 1.4vw;
    margin-bottom: 0.6vw;
/*    text-align: 3vw left; */
}






/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Адаптив для теефона                              */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* 992px  */
@media screen  and (max-width: 992px) {
nav  {
    display:none;
  }
  
.information, .download, .social, .benefits {
    display:none;
  }
  
  .buttons {
    flex-direction: column;
  }
  
  .button2 {
    margin-left: 0;
    margin-top:10px;
  }
  
 header {
  margin-top: 0;
 }
  
 body {
  font-weight: 400; 
/*  400 regular */
  	font-size: 14px; 
/*  0.75vw = 14 px (16:9)*/
  max-width:84.1vw;
  margin-left: auto;
  margin-right: auto;
  background: url('https://github.com/Egupych/lending_ROOF/blob/main/BG.png?raw=true'); background-size:103.3vw; background-repeat: no-repeat; background-position: top left;
}

header {
  margin-top: 5.42vw;
  height: 7.92vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  hight:52px;
  width:65px;
}

.telephone {
  	font-size: 0.64vw;
	text-align: center;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
}

.number {
	font-size: 1.18vw;
	letter-spacing: 0.1vw;
}


.offer {
   padding-left: 3.8vw;
   margin-top: 4.5vw;
}

.heading {
  font-size: 2.95vw;
  line-height: 4.5vw;
  text-align: center;
  width: 35vw;
}

.afterHeadingWithCircles {
	display: flex;
	align-items: baseline;
	padding-top: 1.02vw;
	padding-bottom: 2.41vw;
}

.circles {
	width: 5vw;
}

.afterHeading {
margin-left: 2vw;
  font-size: 1.71vw;

}

.button1 {
    text-align: center;
	background: var(--colorElement1);
	box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
	border-radius: 50vw;
	display: flex;
	width:20.09vw;
	height:5.36vw;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
	text-transform: uppercase;
	color: #fff;
	align-items: center;
	justify-content: center; 
}

.button2 {
  	text-align: center;
	background: var(--colorElement2);
	box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
	border-radius: 50vw;
	display: flex;
	width:20.09vw;
	height:5.36vw;
	letter-spacing: 0.04vw;
	line-height: 1.2vw;
	text-transform: uppercase;
	color: #fff;
	align-items: center;
	justify-content: center; 
	margin-left: 1.2vw;
}

.arrowUpRight {
  	width: 1.3vw;
	margin-left: 1.2vw;
}
  
}


